body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #140e17;
  min-height: 100%;
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1020px;
  margin: 64px auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.aboutme {
  display: flex;
  justify-content: space-between;
}

.aboutme__avatar {
  width: 400px;
  height: 400px;
}

.aboutme__wrap {
  display: flex;
  gap: 22px;
  flex-direction: column;
  width: 488px;
  align-self: center;
}

.aboutme__name {
  font-size: 68px;
  font-weight: 800;
  line-height: 110%;
  margin: 0;
}

.aboutme__text {
  margin: 0;
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.button {
  background-color: #d4d3fb;
  width: 232px;
  border-radius: 18px;
  border: 1px solid #000000;
  padding: 0;
}

.button__portfolio {
  border-color: #333;
  width: 180px;
  align-self: flex-end;
}

.button:hover {
  opacity: 0.7;
}

.aboutme__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 14px;
}

.aboutme__link span {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.social__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-transform: lowercase;
  padding-left: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.social__item {
  border-radius: 18px;
  border: 1px solid var(--black-low, #333);
  padding: 8px 14px;
}

.social__link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__link:hover {
  opacity: 0.5;
}

.skills {
  border-radius: 32px;
  border: 1px solid var(--black-low, #333);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.skills__text {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.works {
  border-radius: 32px;
  border: 1px solid #333;
  padding: 24px;
  font-size: 24px;
  line-height: 108%;
  font-weight: 600;
}

.works__title {
  text-transform: lowercase;
  margin: 0;
  margin-bottom: 32px;
}

.works__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.works__subtitle {
  margin: 0;
  display: inline-block;
}

.works__company {
  display: block;
  color: #76757b;
  font-size: 18px;
  line-height: 26px;
}

.works__item span {
  color: #76757b;
  font-size: 18px;
  line-height: 26px;
}

.works__profession {
  margin: 0;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 144%;
}

.portfolio__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 108%;
  margin: 0;
  margin-bottom: 32px;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  border-radius: 32px;
  background: #d4d3fb;
  display: flex;
  padding: 32px;
  gap: 48px;
  align-items: center;
}

.portfolio__item img {
  width: 260px;
  height: 260px;
}

.portfolio__wrap {
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.portfolio__subtitle {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.portfolio__text {
  font-size: 18px;
  margin: 0;
}

.portfolio__link {
  display: flex;
  padding: 18px 14px;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.form__wrap {
  max-width: 1000px;
  border-radius: 32px;
  border: 1px solid #f5fa93;
  padding: 32px;
  margin: 64px auto;
}

.form__img {
  display: inline-block;
  margin-bottom: 24px;
}

.form__title {
  font-size: 42px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
  margin-bottom: 18px;
}

fieldset {
  border: none;
  width: 45%;
  padding: 0;
  margin: 0;
}

.form__legend {
  font-size: 18px;
  line-height: 144%;
  margin-bottom: 24px;
}

.form__input,
.form__select,
.form__text {
  width: 100%;
  border-radius: 18px;
  background: #fff;
  min-height: 61px;
  padding-left: 14px;
  margin-bottom: 18px;
}

.form__input::placeholder,
.form__text::placeholder {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #76757b;
}

.form__button {
  background-color: inherit;
  border-color: #333;
  color: #fff;
  width: 180px;
}

.form__button::after {
  background-image: url(/img/icon-form.svg);
}

.form__button:hover {
  background-color: #f5fa93;
  color: #000;
}
